body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar*/
.topnav {
    overflow: hidden;
    background-color: #e0e0e0;
}

.contenedor {
    max-width: 980px;
    display: block;
    margin: auto;
    align-items:baseline;
}

.topnav a {
    display: block;
    /*color: #f2f2f2;*/
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    min-height: 50px;
    color: #6fa84b;
    font-size:18px;
    font-weight: bold;
}

.btnImagen {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.boton {
    margin-top: 20px;
    margin-left: 15px;
    padding-bottom: 10px;
    float: right;
    display: inline-flex;
}

.topnav a:hover {
    text-decoration: none;
    color: white;
}

.topnav a.active {
    background-color: #169FDB;
    color: white;
}

.topnav .icon {
    display: none;
}

/*Footer*/
.footer-distributed{
    background-color: #6fa84b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p{
    color:  white;
    font-size: 14px;
    margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

/*Navbar responsive*/
@media screen and (max-width: 880px) {
    .topnav a:not(.btnImagen) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .boton {
        float: right;
        display: block;
        text-align: right;
    }
}

@media screen and (max-width: 880px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .boton {
        float: right;
        display: block;
        text-align: right;
    }
}

/*Footer responsive*/
@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}


/*
    Contenido imagen principal
*/
.principal {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(../img/naranjaslimones.jpg);
    background-size: 100%;
    height: 300px;
    position: relative;
}

.principal img {
    display:block;
    margin:auto;
}

.principal p {
    display: block;
    margin: auto;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.principal b1 {
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
}

.textos {
    bottom: 5%;
    position: absolute;
    right: 18%;
}

/*
    cuadros del index
*/
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    align-self: center;
    min-height: 350px;
    background-color: #6fa84b;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
}

.row-card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row-card:after {
    content: "";
    display: table;
    clear: both;
}

.column h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.column p {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.boton-card {
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #169FDB;
    text-align: center;
    color: white;
}

.boton-card:hover{
    color: black;
    text-decoration: none;
}

.boton-card a:link {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .column {
        height: 400px;
    }

    .principal {
        height: 200px;
        background-size: auto;
    }

    .principal p {
        font-size: 50px;
    }
    
    .principal b1 {
        font-size: 25px;
    }

    .img-prod {
        height: 170px !important;
    }

    .img-prod2 {
        height: 170px !important;
    }
}

@media screen and (max-width: 768px) {
    .column {
        width: 45%;
        display: inline-block;
        margin-bottom: 20px;
        height: 450px;
    }

    .column-info {
        width: 45% !important;
        display: inline-block;
        margin-bottom: 20px;
        height: 450px;
    }

    .principal {
        height: 200px;
        background-size: auto;
    }

    .principal p {
        font-size: 40px;
    }
    
    .principal b1 {
        font-size: 20px;
    } 
    
    .img-prod {
        height: 120px !important;
    }

    .img-prod2 {
        height: 120px !important;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 45%;
        display: inline-block;
        margin-bottom: 20px;
        height: 450px;
    }

    .principal {
        height: 200px;
        background-size: auto;
    }

    .principal p {
        font-size: 35px;
    }
    
    .principal b1 {
        font-size: 20px;
    } 
    
    .img-prod {
        height: 80px !important;
    }

    .img-prod2 {
        height: 80px !important;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .column-info {
        width: 100% !important;
        display: block;
        margin-bottom: 20px;
    }

    .principal {
        height: 80px;
        background-size: auto;
    }
    
    .principal p {
        font-size: 20px;
    }
    
    .principal b1 {
        font-size: 15px;
    } 

    .img-prod {
        height: 50px !important;
    }

    .img-prod2 {
        height: 50px !important;
    }
}

/*
    Formulario contacto
*/
.contacto {
    background-color: #e0e0e0;
    padding-bottom: 20px;
}

.text-contacto {
    color: #6fa84b;
    font-size:18px;
    font-weight: bold;
}

.titulo-contacto {
    color: #6fa84b;
    font-weight: bold;
}

.boton-enviar {
    background-color: #6fa84b;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

::-webkit-input-placeholder { /* Edge */
    color: #6fa84b;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6fa84b;
}

::placeholder {
    color: #6fa84b;
    padding-left: 10px;
}

input:active, textarea:active,
input:focus, textarea:focus {
    border: 1px solid #6fa84b;
    outline: none;
}

.form-contacto {
    width: 100%;
    border: none;
    border-radius: 2px;
    color: #6fa84b;
    padding-left: 3px;
}

input[type=text], input[type=email] {
    height: 35px;
}


/*
Quines somos estilos
*/
.featurette-heading {
    color: #6fa84b !important;
}

.text-somos {
    color: #6fa84b;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
}

/*
Estilos Productos
*/
.cuadro-texto {
    background-color: #6fa84b;
    width: 100%;
}

.cuadro-texto p {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: x-large;
    margin: 0px
}

.img-prod {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/productos.png);
    background-size: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 0px;
}

/*
Informacion de interes estilos
*/
.img-prod2 {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/prodlim.png);
    background-size: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 0px;
}

.column-info {
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    float: left;
    width: 30%;
    padding: 0 10px;
    align-self: center;
    min-height: 350px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
}

.column-info h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.column-info p {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}